body{
  margin: 20px;
}

#destacados{
  background-color: #669999;
}

#ofertas{
  background-color: #F7D988;
  text-shadow: 1px 1px 2px white, 0 0 30px #D46A6A;
}

#disponibles{
  background-color: #F7A188;
}

.contenedor{
  display: flex;
  flex-direction: row;
}

#contenido{
  display: flex;
  flex-direction: column;
}

#contenido > section > h1 {
  padding: 10px;
  text-align: center;
}

#destacados .contenedor > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: white;
  width: 50%;
  text-shadow: 0 0 3px white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 0);

}

#ofertas .contenedor > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: white;
  width: 33.3%;
  box-shadow: 4px 8px;
}

#disponibles .contenedor >div {
  text-align: center;
  padding: 10px;

  background-color: white;
  width: 25%;
  margin: 10px;
  box-shadow: 4px 8px #D46A6A;
}

footer{
  margin-top: 10px;
  border-top: solid 1px black;
  text-align: center;
}
