body
{
  background-color: #90AFC5;
  font-family: Calibri !important;
}
footer
{
  margin-top: 20px;
}
img
{
  border-radius: 10px
}
#Formulario{
  background-color:#336b87 ;
  font-family: Calibri;
  color:white;
  font-style: initial;
}
#Contenedor{
  font-family: Calibri;
  font-size: 16px;
}
#Encabezado{
  font-family: Calibri;
  color: #2a3132;
  display: block;
  margin: 0 auto;
}
.itemIndice{
  list-style-type: upper-roman;
  color:#763626;
}
.enlace{
  color:red;
}
a[href^='#']{
  color:#763626;
}
img[src|-=svg],
img[src|='icono']
img[src$='jpg'],img[src$='png']{
  border: 1px solid black;
  border-radius: 50px
}
*{
  margin: 1vh 1vw;
}
h1 + h2{
  text-decoration: underline;
}
h2 ~ p {
  text-align: justify;
}
article> h2 {
  text-decoration: underline;
}
ul li {
  list-style-type: circle;
}
img[src$='.svg']{
  border-radius: 50px;
}
a[href^='http://']:visited
{
  color:red;
}
a:hover{
  color:blueviolet;
  font-weight: bold;
}
}
h2:first-child{
  text-decoration: underline;
}
input:focus{
  width: 160px;
  height: 140px;
}
p::first-letter{
  text-transform: :capitalize;
}
p::first-line{
  font-size: 32px;
}
#Estudios>ul>li:first-child>a::after{
  content:'" - after"'
}
#Estudios>ul>li:last-child>a::before{
  content: '"before - "';
}
#Estudios>ul>li:nth-child(2)>a::after{
  content: '"hijo #2"';
}
#Estudios>ul>li:nth-child(3)>a::after{
  content: '"hijo #3"';
}
img