#menu-principal ul {
  float: left;
  width: 200px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#contenido{
  background: url(../hojas_estilos/css/images/imagen3.jpg);
  margin-left: 200px;
  padding: 10px;
  color: black;
  border-radius: 6px;
}

#contenido p img {
  float: right;
  padding: 10px;
  border: 2px solid #605B56;
  margin: 3px;
  border-radius: 4px;
}

h2{
  display: none !important ;
}

body{
  font-family: Verdana;
  margin-left: 15%;
  color: #605B56;
  width: 70%;
}

header{
  text-align: center;
  padding: 3px 10px;
  margin-bottom: 5px;

  border-radius: 10px;

  background: -webkit-linear-gradient(left, #5CA861, #BADFBC);
  background: -o-linear-gradient(rigth, #5CA861, #BADFBC);
  background: -moz-linear-gradient(right,#5CA861, #BADFBC);
  background: linear-gradient(to right, #5CA861, #BADFBC);

}

footer {
  clear: both;
  margin-top: 10px;
  padding-top: 15px;
  border-top: solid 2px black;
  text-align: center;
}

ul li {
  padding: 10px;
}

img+h2{
  display: inline;
}